python-dotenv==1.0.1
openai~=1.66.3
scikit-learn==1.6.1
datasets~=3.4.0
transformers~=4.49.0
pandas~=2.2
plotly
matplotlib
Jinja2
einops==0.8.1
onnx>=1.18.0
onnxruntime>=1.21.0
onnxscript>=0.2.2
git+https://github.com/microsoft/Olive
peft==0.14.0