python-dotenv==1.0.1
openai~=1.53.0
scikit-learn==1.5.2
datasets~=3.0.2
transformers~=4.46.1
pandas~=2.2
plotly
matplotlib
Jinja2
einops
onnx>=1.15.0
onnxruntime>=1.18.0
onnxscript>=0.1.0.dev20240126
git+https://github.com/microsoft/Olive
peft==0.13.2