azureml-core==1.59.0.post1
azureml-dataset-runtime==1.59.0
azureml-defaults==1.59.0
azure-ml==0.0.1
azure-ml-component==0.9.18.post2
azureml-mlflow==1.59.0.post1
azureml-contrib-services==1.59.0
azureml-automl-common-tools==1.59.0
torch-tb-profiler==0.4.3
azureml-inference-server-http~=1.4
inference-schema==1.8.0
MarkupSafe==3.0.2
regex
pybind11
bitsandbytes==0.45.3
transformers==4.49.0
peft~=0.14.0
accelerate~=1.5.2
datasets==3.4.0
scipy
azure-identity
packaging==24.2
timm==1.0.15
einops==0.8.1