bitsandbytes==0.45.3
transformers==4.49.0
peft~=0.14.0
accelerate~=1.5.2
trl==0.15.2
einops==0.8.1
datasets==3.4.0
wandb==0.19.8
mlflow==2.16.0
azureml-mlflow==1.59.0.post1
azureml-sdk==1.59.0
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1